certifi==2021.5.30
charset-normalizer==2.0.6
idna==3.2
postmarker==0.18.2
pydantic==1.8.2
PyMySQL==1.0.2
requests==2.26.0
SQLAlchemy==1.4.25
sqlalchemy2-stubs==0.0.2a17
sqlmodel==0.0.4
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
